
ROBOProject/.vs/ROBOProject/DesignTimeBuild/.dtbcache
ROBOProject/.vs/ROBOProject/v16/.suo
ROBOProject/.vs/ROBOProject/v16/Server/sqlite3/db.lock
ROBOProject/.vs/ROBOProject/v16/Server/sqlite3/storage.ide
ROBOProject/ROBOProject.sln
ROBOProject/ROBOProject/ROBOProject.csproj
ROBOProject/ROBOProject/ROBOProject.csproj.user
ROBOProject/ROBOProject/obj/ROBOProject.csproj.nuget.g.targets
*.props
ROBOProject/ROBOProject/obj/ROBOProject.csproj.nuget.cache
ROBOProject/ROBOProject/obj/ROBOProject.csproj.nuget.cache
ROBOProject/ROBOProject/obj/project.assets.json
ROBOProject/ROBOProject/obj/Debug/netcoreapp3.0/ROBOProject.AssemblyInfo.cs
ROBOProject/ROBOProject/obj/Debug/netcoreapp3.0/ROBOProject.AssemblyInfoInputs.cache
ROBOProject/ROBOProject/obj/Debug/netcoreapp3.0/ROBOProject.assets.cache
ROBOProject/ROBOProject/obj/Debug/netcoreapp3.0/ROBOProject.csproj.FileListAbsolute.txt
ROBOProject/ROBOProject/obj/ROBOProject.csproj.nuget.dgspec.json
ROBOProject/ROBOProject/obj/Debug/netcoreapp3.0/ROBOProject.csprojAssemblyReference.cache
ROBOApi/.vs/ROBOApi/v16/.suo
ROBOApi/.vs/ROBOApi/v16/Server/sqlite3/db.lock
ROBOApi/.vs/ROBOApi/v16/Server/sqlite3/storage.ide
ROBOApi/ROBOApi.sln
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/appsettings.Development.json
ROBOApi/ROBOApi/appsettings.Development.json
*.dll
*.exe
*.cache
ROBOApi/ROBOApi/ROBOApi.csproj
ROBOApi/.vs/ROBOApi/DesignTimeBuild/.dtbcache
*.ide-shm
ROBOApi/.vs/ROBOApi/v16/Server/sqlite3/storage.ide-wal
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.runtimeconfig.dev.json
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.Views.pdb
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.Views.pdb
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.runtimeconfig.dev.json
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/appsettings.json
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.deps.json
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.pdb
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.RazorAssemblyInfo.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.csproj.FileListAbsolute.txt
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.pdb
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.AssemblyInfo.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.csproj.CopyComplete
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.RazorTargetAssemblyInfo.cs
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/ROBOApi.Views.pdb
ROBOApi/ROBOApi/obj/Debug/netcoreapp3.0/staticwebassets/ROBOApi.StaticWebAssets.xml
ROBOApi/ROBOApi/obj/project.assets.json
ROBOApi/ROBOApi/obj/ROBOApi.csproj.nuget.dgspec.json
ROBOApi/ROBOApi/obj/ROBOApi.csproj.nuget.g.targets
ROBOApi/.vs/ROBOApi/config/applicationhost.config
ROBOApi/ROBOApi/bin/Debug/netcoreapp3.0/ROBOApi.runtimeconfig.json
